/*
FUENTE PARA TEXTO PARRAFOS
*/
@font-face {
    font-family:'EuralDB';
    src: url("/media/fonts/EuraldbNormal.ttf");
}
/*
FUENTE PARA TITULOS
*/
@font-face {
    font-family: 'Znikoslsvginot-8';
    src: url("/media/fonts/Znikoslsvginot8-GOB3y.ttf");
}
body{
    background-color: rgba(65, 122, 144, 0.752);
    font-family:'EuralDB';
}

.table0{
    margin: 0 auto;
    background-color: rgba(65, 122, 144, 0.752);
    width: 70%;
    border: 1;
    border-radius: 25px;
}
.table1{
    background-color: rgb(43, 190, 201);
    width: 100%;
    margin: 0 auto;
    border: 1;
    border-radius: 25px;
}
.titulos{
    text-align: center;
    font-family:'Znikoslsvginot-8';
    font-size: 3em;
    padding: 1em;
    color: rgba(0, 0, 0, 0.795);
}
.p1{
    margin: auto;
    text-align:center;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.795);
}
.p2{
    margin: 5%;
    text-align:left;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.795);
}
.fondo1{
    background-color:rgba(79, 128, 0, 0.466);
    border-radius: 25px;
}
.fondo2{
    background-color: rgba(157, 255, 0, 0.411);
    border-radius: 25px;
}